<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AWARE-Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AWARE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16228A391C22DAE20081C839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1623CE651BFD1B2C00EFAD72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1623CE811BFD1B2C00EFAD72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1623CE8C1BFD1B2C00EFAD72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
